body{
    margin: 0;
    background-image: url("https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-dark-mode-layers-5k-1920x1200-5895.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.caixa-vaga{
    box-sizing: border-box;
    
  
    height: 275px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px 70px 35px;
}
button{
    background-color:#16305e;
    outline: none;
    border: none;
    padding: 8px;
    width: 100px;
    box-shadow: 1px 1px rgba(38, 38, 95, 0.801),
                2px 2px rgb(45, 45, 146);
    margin: 20px;
    color: white;
    border-radius: 8px;
    transition: 0.2s all ease-in;
    cursor: pointer;
}
button:hover{
    background-color: #12203a;
    box-shadow: 2px 2px rgb(255, 255, 255),
    4px 4px rgb(95, 95, 238);
}
.botoes{
    display: flex;
    justify-content: center;
    margin: 15px 6px 95px 6px;
}
#vaga-andamento, #vaga-aceita, #vaga-recusada{
    box-sizing: border-box;
    border-radius: 20px;
    width: 600px;
    padding: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.2s all ease-in;
    cursor: pointer;
}
#vaga-andamento:hover{
    transform: scale(1.05);
}
#vaga-aceita:hover{
    transform: scale(1.05);
}
#vaga-recusada:hover{
    transform: scale(1.05);
}
#vaga-andamento{
    background-color: rgb(255, 255, 255);
    height: 38px;

    
    
}
#vaga-aceita{
    background-color: rgb(45, 101, 223);
    height: 50px;

   
    
}
#vaga-recusada{
    background-color: rgb(255, 111, 111);

    
    
}
h1{
    
    color: white;
    border-radius: 20px 60px ;
    margin: 20px 0px;
    width: 255px;
    height: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s all ease-in;
    cursor: pointer;

}
h1:hover{
    transform: scale(1.05);
}
footer{
    background-color: #142542;
    width: 70%;
    height: 100%;
}
#caixa-nav,#caixa-equipe, #caixa-adm{
    font-family: Lato;
}
#transparencia-footer{
    display: flex;
    background: transparent;
    backdrop-filter: blur(15px);
    color: white;
    width: 30%;
    height: 100%;
}
.ligacao{
    display: flex;
    height: 100%;
}
.ligacao2{
    display: flex;
    justify-content: space-around;
    
}
#centralizar-footertp{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    height: 100%;
}
#ajuste-footer, #ajuste2-footer{
    
    color: rgba(225, 241, 255, 0.884);
    font-size: small;
    width: 330px;
    height: 100%;

}
h3{
    text-align: left;
}
.text-footer{
    text-align: justify;
}
a{
    text-decoration: none;
    
    color: white;
}